.pixangular-grid{
  &*{
    padding: 0;
    margin: 0;
  }
  position: relative;
  display: flex;
  flex-direction: column;
  .pixangular-row{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    .pixangular-cell{
      position: relative;
      display: inline;
      flex-grow: 1;
      &:hover{
        opacity: 0.5;
      }
      &.showgrid{
        border: solid thin #ccc;
      }
    }
  }
}
